*{
	margin: 0;
}
body{
	font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0 auto;

}
.Pagina{
	width: 90%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    padding:0;
}
header{
	background: yellow;
	width: 100%;
	height: 100px;
	text-align: center;

}


footer {
    background-color: #704ebb;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
}
section{
	width: 100%;
    height:539px;
    background-color: skyblue;
    padding:5px;
}

input[type="button"]{
	background: #f60;
	border: thin solid transparent;
	border-radius: .3em;
	color: #fff; 
	cursor: pointer;
	font-size: 1em;
	padding: .5em;
	margin: 0 auto 0 auto;
}
input[type="button"]:hover{
	background: skyblue;
	border: thin solid #f60;
	border-radius: 0;
	color: #f60; 
}
#serie, #btnjuegaImg{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
fieldset{
	background: #ffffff;
	border: thin solid #f60;
	border-radius: 3px;
	padding: 1em;
	width: 10%;
	margin: 0 auto 0 auto;
}
legend {
    font-size: 12px;
    /*font-weight: bold;*/
}
form{
	margin: .5em auto;
	width: 100%;
}
#resultado{
	width: 100%;
	height: 40px;
	background: blueskyp;
	margin-left: 5px;
}
#Imagen{
	display: inline-block;
	vertical-align: top;

}
#Imagen{
	width: 100%;
}

#jugada_humanoImg{
	margin-left: 0px;
	margin-top: 10px;
}
#btnjuegaImg{
	margin-left: 10px;
	margin-top: 5px;
}
#juega_pc{
	margin-left: 10px;
	margin-top: 0px;
}

#imagenPrueba, #imagenPrueba2{
		width: 150px;
		height: auto;
}

.Tabla {
    /*background-color:white;*/
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    text-align: center;
}

    .Tabla th {
        border: 1px solid;
    }

        .Tabla th:hover {
            background-color: #a8c7b6;
        }

    .Tabla td {
        border: 1px solid;
        padding: 0 15px;
    }

        .Tabla td:hover {
            background-color: #efe96a;
        }

    .Tabla tr:hover {
        background-color: #ddd;
    }
